// Vendor
// ---------------------------------

@import "vendor/normalize";

// Global
// ---------------------------------

@import "global/variables";
@import "global/typography";
@import "global/mixins";
@import "global/fonts";
@import "global/responsive-text";
@import "global/utility";
@import "global/global";

// Layout
// ---------------------------------
@import "layout/page";
@import "layout/container";

// Components
// ---------------------------------
@import "components/button";
@import "components/modal";

// Blocks
// ---------------------------------
@import "blocks/header";
@import "blocks/nav-menu";
@import "blocks/hero";
@import "blocks/about";
