// Vendor
// ---------------------------------

@import "vendor/normalize";

// Global
// ---------------------------------

@import "global/variables";
@import "global/typography";
@import "global/mixins";
@import "global/fonts";
@import "global/responsive-text";
@import "global/utility";
@import "global/global";

// Layout
// ---------------------------------
@import "layout/page";
@import "layout/container";

// Components
// ---------------------------------
@import "components/button";
@import "components/modal";
@import "components/notification-modal";
@import "components/program-card";
@import "components/news-card";
@import "components/news-tab";
@import "components/news-pagination";
@import "components/review-card";

// Blocks
// ---------------------------------
@import "blocks/header";
@import "blocks/nav-menu";
@import "blocks/hero";
@import "blocks/about";
@import "blocks/programs";
@import "blocks/grant";
@import "blocks/news";
@import "blocks/faq";
@import "blocks/reviews";
@import "blocks/contacts";
@import "blocks/form";
@import "blocks/footer";
@import "blocks/404";
